
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="jumbotron">
        <h1 class='text-center'>Code Talk</h1>
        <blockquote style='margin-left: 30%' id='project-description' cite="https://git.heroku.com/mighty-shore-12223.git">
          <p>
            A <i class='text-warning'>Full Stack</i> App <span class="text-primary">|</span> myspace clone.
          </p>

          <span class="text-danger">Back End: </span> Node.js, Express.js, Mongo DB <br>
          <span class="text-success">Front End: </span> Angular.js <br>
          <span class="text-info">Repo: </span> at <a href="https://github.com/TobiahRex/codeTalkApp"> /codeTalkApp </a><br>
          <span class="text-warning">Hosted: </span> on <a href="https://still-peak-11541.herokuapp.com/#/"> Heroku </a>
        </blockquote>
        <br>
        <div class="enter-button">
          <button ng-model='enter_page' ng-click='goToHome()' class="btn btn-lg btn-primary">
            Enter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
